{% extends 'base.html' %}

{% block content %}
    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <h3 style="font-family: 'Annie Use Your Telescope', cursive">Delete Comment</h3>
        </div>
        <div>
            <form action="{% url 'commentapp:delete' pk=target_comment.pk %}" method="post">
                {% csrf_token %}
                <div style="font-family: 'Annie Use Your Telescope', cursive" class="m-5">
                    <input type="submit" value="woof :("
                           class="btn btn-danger rounded-pill px-5">
                </div>

            </form>
        </div>
    </div>



{% endblock %}