<div style="text-align: center">
    <div class="web_header_logo">
        <h1 style="font-size: 72px">Puppy World</h1>
    </div>
    <div class="web_header_btn">
        <span style="font-family: 'Annie Use Your Telescope', cursive">
            <a href="{% url 'articleapp:list' %}">
                Articles
            </a>
        </span> |
        <span style="font-family: 'Annie Use Your Telescope', cursive">
            <a href="{% url 'projectapp:list' %}">
                Projects
            </a>
        </span> |
        {% if not user.is_authenticated %}

        <span style="font-family: 'Annie Use Your Telescope', cursive">
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span> |
        <span style="font-family: 'Annie Use Your Telescope', cursive">
            <a href="{% url 'accountapp:create' %}">
                Join
            </a>
        </span>

        {% else %}

            <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                Mypage
            </a>
        </span>

        <span>
            <a href="{% url 'accountapp:logout' %}">
                logout
            </a>
        </span>
        {% endif %}
    </div>
</div>